<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <title>Venda-Produto</title>
</head>
<body>
     <header>
             <div class="container-header">
                    <div>
                        <h1>SHOPVUE</h1>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="#">Inicio</a></li>
                            <li><a href="#">Loja</a></li>
                            <li><a href="#">Contato</a></li>
                        </ul>
                    </nav>
                    <div class="compra">
                    <span><img src="img/carrinho-de-compras-de-design-xadrez.png" alt="carrinho"> | Carrinho</span> 
                    </div>
            </div>
        </header>
            <div id="app">
            <section>
            <div class="container-produtos" v-for="produto in produtos">
                <div class="produto">
                    <div class="img-top">
                        <img :src="produto.img01" :alt="produto.nome" width="300px">
                    </div>
                    <div class="img-base">
                        <img :src="produto.img02" :alt="produto.nome" width="170px">
                        <img :src="produto.img03" :alt="produto.nome" width="170px">
                    </div>
                </div>
                <div class="texto" >
                    <h3>{{produto.nome}}</h3>
                    <p>Descrição:</p><br>
                    <p>{{produto.descric}}</p>
                    <h5>R${{produto.valor}}</h5>
                    <p>Estoque: <span>{{produto.quantidade-unidades}}</span> uni</p>
                    <label>Voltagem:</label>
                    <select>
                        <option>110v</option>
                        <option>220v</option>
                    </select>
                    <div>
                        <button @click="unidades++">+</button>
                        <button @click="unidades--">-</button>
                        <p>Quantidade: <span><strong>{{unidades}}</strong> </span></p>
                        
                        <p>Total: <span><strong>{{unidades*produto.valor}}</strong> </span></p>
                    </div>
                    <button class="btn-compra"><span><img src="img/carrinho-de-compras-de-design-xadrez.png" alt="carrinho"></span>  COMPRAR</button>
                    
                </div>
            </div>
            </section>

            <section class="descric">
                <div class="container-descric" v-for="produto in produtos">
                <div class="gray-one">
                    <p>Id</p>
                    <p>{{produto.id}}</p>
                </div>
                <div class="gray-two">
                    <p>Marca</p>
                    <p>{{produto.marca}}</p>
                </div>
                <div class="gray-one">
                    <p>Material/Composição</p>
                    <p>{{produto.material}}</p>
                </div>
                <div class="gray-two">
                    <p>Capacidade</p>
                    <p>{{produto.Capacidade}}</p>
                </div>
                <div class="gray-one">
                    <p>Consumo</p>
                    <p>{{produto.Consumo}}</p>
                </div>
                <div class="gray-two">
                    <p>Potência</p>
                    <p>{{produto.Potência}}</p>
                </div>
                <div class="gray-one">
                    <p>Cor</p>
                    <p>{{produto.Cor}}</p>
                </div>

            </div>
            </section>


            <footer>
                <div class="container-rodape">
                    <div>
                    <h3>SHOPVUE</h3> 
                        <img src="img/cartao.png" alt="cartão">
                    </div>
                    <div>
                        <p>Contato:</p>
                        <p>(82)98755-2551</p>
                        <p>(82)3455-2001</p>
                    </div>
                    <div>
                        <p>Rua: General Almir</p>
                        <p>Bairro: Farol</p>
                        <p>Cidade: Maceió-AL</p>
                    </div>
                </div>
                <p class="fim">Todos os direitos reservado.</p>
            </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="js/app.js"></script>
</body>
</html>